@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Comfortaa';
}

h1,h2, p{
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}